<div class="joms-postbox-dropdown location-dropdown">
  <div class="joms-postbox-map"></div>
  <div class="joms-postbox-action joms-location-action">
    <button class="joms-add-location"><i class="joms-icon-map-marker"></i><%= data.language.geolocation.select_button %></button>
    <button class="joms-remove-location"><i class="joms-icon-remove"></i><%= data.language.geolocation.remove_button %></button>
  </div>
  <input class="joms-postbox-keyword" type="text">
  <ul class="joms-postbox-locations"></ul>
</div>
